<form>
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Ajouter un restaurant</legend>

        <div class="uk-margin">
          <label> nom de resterant </label>
            <input class="uk-input" type="text" placeholder="nom de resterant">
        </div>


        <div class="uk-margin">
          <label> description </label>
            <textarea class="uk-textarea" rows="5" placeholder="description"></textarea>
        </div>
        <div class="uk-margin">
          <label>position </label>
            <input class="uk-input" type="text" placeholder="longitude">
            <input class="uk-input" type="text" placeholder="latitude">
        </div>


 <button class="uk-button uk-button-default" (clic)="ajoutRestaurant">Ajouter</button>


    </fieldset>
</form>
