

        <legend class="uk-legend">Ajouter un restaurant</legend>

        <div class="uk-margin">
          <label> nom de resterant </label>
            <input   class="uk-input" [(ngModel)]="nomRestaurant"  type="text" placeholder="nom de resterant">
        </div>


        <div class="uk-margin">
          <label> description </label>
            <textarea class="uk-textarea" [(ngModel)]="descRestaurant" rows="5" placeholder="description"></textarea>
        </div>
        <div class="uk-margin">
          <label>position </label>
            <input class="uk-input" type="text" [(ngModel)]="long" placeholder="longitude">
            <input class="uk-input" type="text" [(ngModel)]="alt" placeholder="latitude">
        </div>

        
        

        <button class="uk-button uk-button-default" (click)="createRestaurant()">Ajouter</button>

    
